In [29]:
import pandas as pd

In [30]:
movie_info=pd.read_csv('movies_info_final.csv')
movie_asin=pd.read_csv('merged_title_movies_source_asin_collection.csv')

In [31]:
# 移除asin表中的多余元素
movie_asin

,Title,Language,Release date,Date First Available,Run time,Producers,Directors,Writers,Actors,Media Format,Subtitles,Genres,Writer
0,['B000O1OWQS'],[],['B000O1OWQS'],[],B000O1OWQS,NaN,B000O1OWQS,NaN,[],['B000O1OWQS'],[],NaN,B000O1OWQS
1,['B000092OM6'],[],['B000092OM6'],[],B000092OM6,NaN,B000092OM6,NaN,[],['B000092OM6'],[],NaN,B000092OM6
2,['B0004ILML4'],[],['B0004ILML4'],[],B0004ILML4,NaN,NaN,NaN,[],['B0004ILML4'],[],NaN,NaN
3,['B0004IXFE6'],[],['B0004IXFE6'],[],B0004IXFE6,B0004IXFE6,NaN,NaN,[],['B0004IXFE6'],[],NaN,NaN
4,['B0004ILMKA'],[],['B0004ILMKA'],[],B0004ILMKA,B0004ILMKA,NaN,NaN,[],['B0004ILMKA'],[],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152466,['6302296285'],['6302296285'],['6302296285'],['6302296285'],NaN,NaN,6302296285,NaN,[],[],[],NaN,6302296285
152467,['B000IOM0WE'],[],['B000IOM0WE'],[],B000IOM0WE,NaN,B000IOM0WE,NaN,[],['B000IOM0WE'],['B000IOM0WE'],NaN,B000IOM0WE
152468,"['B002SUHWDI', 'B002SUDU48']",[],"['B002SUHWDI', 'B002SUDU48']",[],NaN,NaN,B002SUHWDI,NaN,[],"['B002SUHWDI', 'B002SUDU48']",[],B002SUHWDI,B002SUHWDI
152469,"['B00004VYF2', 'B00004D2WE']","['B00004VYF2', 'B00004D2WE']","['B00004VYF2', 'B00004D2WE']",['B00004D2WE'],B00004VYF2,B00004VYF2,B00004VYF2,NaN,[],['B00004VYF2'],['B00004VYF2'],NaN,B00004VYF2
152470,"['B00005MKXB', 'B00005MKXA']",['B00005MKXA'],"['B00005MKXB', 'B00005MKXA']",['B00005MKXA'],B00005MKXB,B00005MKXB,B00005MKXB,NaN,[],['B00005MKXB'],['B00005MKXB'],NaN,B00005MKXB

In [32]:
movie_asin.columns.values

array(['  Title', 'Language', 'Release date', 'Date First Available',
       'Run time', 'Producers', 'Directors', 'Writers', 'Actors',
       'Media Format', 'Subtitles', 'Genres', 'Writer'], dtype=object)

In [33]:
movie_asin.drop(['Language', 'Release date', 'Date First Available',
       'Run time', 'Producers', 'Directors', 'Writers', 'Actors',
       'Media Format', 'Subtitles', 'Genres', 'Writer'],axis=1,inplace=True)
movie_asin.rename(columns={'  Title':'Asin'},inplace=True)

In [34]:
movie_asin

                                Asin
0                     ['B000O1OWQS']
1                     ['B000092OM6']
2                     ['B0004ILML4']
3                     ['B0004IXFE6']
4                     ['B0004ILMKA']
...                              ...
152466                ['6302296285']
152467                ['B000IOM0WE']
152468  ['B002SUHWDI', 'B002SUDU48']
152469  ['B00004VYF2', 'B00004D2WE']
152470  ['B00005MKXB', 'B00005MKXA']

[152471 rows x 1 columns]

In [35]:
# 合并
movies=pd.concat([movie_info,movie_asin],axis=1)

In [36]:
movies

,Title,Language,Release date,Date First Available,Run time,Producers,Directors,Writers,Actors,Media Format,Subtitles,Genres,Asin
0,- Learn To Sing Gospel,[],"February 1, 2007",NaN,2 hours,NaN,"Greg Hannon, M.M.",[],"['Canagela Robertson', ' M.M.']",['NTSC'],[],NaN,['B000O1OWQS']
1,- Learning To Flatpick,[],"June 3, 2003",NaN,4 hours,NaN,"Traum, Happy",[],"['Kaufman', ' Steve']","['Multiple Formats, Color, NTSC, Closed-captio...",[],NaN,['B000092OM6']
2,100 Boating Mistakes & How To Avoid Them Trai...,[],"January 1, 2007",NaN,50 minutes,NaN,NaN,[],[],"['Multiple Formats, Color, NTSC']",[],NaN,['B0004ILML4']
3,100 Sailing Mistakes & How To Avoid Them Trai...,[],"January 1, 2007",NaN,50 minutes,James Marsh,NaN,[],[],"['Color, DVD, NTSC']",[],NaN,['B0004IXFE6']
4,100 Saltwater Fishing Mistakes & How To Avoid...,[],"January 1, 2007",NaN,50 minutes,James Marsh,NaN,[],[],"['Multiple Formats, Color, NTSC']",[],NaN,['B0004ILMKA']
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152466,Águila o sol,['Spanish'],"June 30, 1996","September 29, 2006",NaN,NaN,Arcady Boytler,[],"['Cantinflas', ' Manuel Medel', ' Margarita Mo...",[],[],NaN,['6302296285']
152467,Æon Flux,[],"June 3, 2008",NaN,1 hour and 33 minutes,NaN,Karyn Kusama,[],"['Charlize Theron', ' Frances McDormand', ' So...","['Multiple Formats, Blu-ray, Color, Dolby, NTS...","['English, French, Spanish']",NaN,['B000IOM0WE']
152468,ÇA TWISTE À POPONGUINE (Rocking Poponguine),[],"September 10, 2009",NaN,NaN,NaN,Moussa Sene Absa,[],"['Coura Ba', ' Jean-François Balmer', ' Ousman...",['Available to watch on '],[],Arthouse,"['B002SUHWDI', 'B002SUDU48']"
152469,Ça commence aujourd'hui,"['French (Dolby Digital 5.1), Italian (Dolby D...","January 21, 2003","June 27, 2006",1 hour and 57 minutes,"Alain Sarde, Frédéric Bourboulon",Bertrand Tavernier,[],"['Philippe Torreton', ' Maria Pitarresi', ' Na...",['PAL'],"['German, Dutch, English']",NaN,"['B00004VYF2', 'B00004D2WE']"
152470,Ôdishon,['Japanese'],"March 20, 2002","June 15, 2006",1 hour and 55 minutes,"Akemi Suyama, Jun'ichi Shindô, Satoshi Fukushi...",Takashi Miike,[],"['Ryo Ishibashi', ' Eihi Shiina', ' Tetsu Sawa...",['PAL'],['English'],NaN,"['B00005MKXB', 'B00005MKXA']"

In [37]:
movies.columns.values

array(['Title', 'Language', 'Release date', 'Date First Available',
       'Run time', 'Producers', 'Directors', 'Writers', 'Actors',
       'Media Format', 'Subtitles', 'Genres', 'Asin'], dtype=object)

In [38]:
# 去除多余的列
movies.drop(['Language', 'Date First Available','Run time', 'Producers','Writers','Media Format', 'Subtitles',],axis=1,inplace=True)

In [39]:
movies

,Title,Release date,Directors,Actors,Genres,Asin
0,- Learn To Sing Gospel,"February 1, 2007","Greg Hannon, M.M.","['Canagela Robertson', ' M.M.']",NaN,['B000O1OWQS']
1,- Learning To Flatpick,"June 3, 2003","Traum, Happy","['Kaufman', ' Steve']",NaN,['B000092OM6']
2,100 Boating Mistakes & How To Avoid Them Trai...,"January 1, 2007",NaN,[],NaN,['B0004ILML4']
3,100 Sailing Mistakes & How To Avoid Them Trai...,"January 1, 2007",NaN,[],NaN,['B0004IXFE6']
4,100 Saltwater Fishing Mistakes & How To Avoid...,"January 1, 2007",NaN,[],NaN,['B0004ILMKA']
...,...,...,...,...,...,...
152466,Águila o sol,"June 30, 1996",Arcady Boytler,"['Cantinflas', ' Manuel Medel', ' Margarita Mo...",NaN,['6302296285']
152467,Æon Flux,"June 3, 2008",Karyn Kusama,"['Charlize Theron', ' Frances McDormand', ' So...",NaN,['B000IOM0WE']
152468,ÇA TWISTE À POPONGUINE (Rocking Poponguine),"September 10, 2009",Moussa Sene Absa,"['Coura Ba', ' Jean-François Balmer', ' Ousman...",Arthouse,"['B002SUHWDI', 'B002SUDU48']"
152469,Ça commence aujourd'hui,"January 21, 2003",Bertrand Tavernier,"['Philippe Torreton', ' Maria Pitarresi', ' Na...",NaN,"['B00004VYF2', 'B00004D2WE']"
152470,Ôdishon,"March 20, 2002",Takashi Miike,"['Ryo Ishibashi', ' Eihi Shiina', ' Tetsu Sawa...",NaN,"['B00005MKXB', 'B00005MKXA']"

In [40]:
# 修缮asin和actors格式
import string

i=0
bad_actor=['- Various','*','VARIOUS','various','Various']
for index, row in movies.iterrows():
    i+=1
    if i%1000 == 0:
        print(i,end=' ')
        
    actors=str(row['Actors']).strip("[]").split(', ')
    actors=[s.replace("'","").replace('"','').strip() for s in actors]
    actors=[string.capwords(s) for s in actors if string.capwords(s) not in bad_actor]
    movies.at[index,'Actors']=','.join(actors)
    
    asins=str(row['Asin']).strip("[]").split(', ')
    asins=[s.replace("'","").replace('"','').strip() for s in asins]
    movies.at[index,'Asin']=','.join(asins)

1000 2000 3000 4000 5000 6000 7000 8000 9000 10000 11000 12000 13000 14000 15000 16000 17000 18000 19000 20000 21000 22000 23000 24000 25000 26000 27000 28000 29000 30000 31000 32000 33000 34000 35000 36000 37000 38000 39000 40000 41000 42000 43000 44000 45000 46000 47000 48000 49000 50000 51000 52000 53000 54000 55000 56000 57000 58000 59000 60000 61000 62000 63000 64000 65000 66000 67000 68000 69000 70000 71000 72000 73000 74000 75000 76000 77000 78000 79000 80000 81000 82000 83000 84000 85000 86000 87000 88000 89000 90000 91000 92000 93000 94000 95000 96000 97000 98000 99000 100000 101000 102000 103000 104000 105000 106000 107000 108000 109000 110000 111000 112000 113000 114000 115000 116000 117000 118000 119000 120000 121000 122000 123000 124000 125000 126000 127000 128000 129000 130000 131000 132000 133000 134000 135000 136000 137000 138000 139000 140000 141000 142000 143000 144000 145000 146000 147000 148000 149000 150000 151000 152000

In [42]:
movies

,Title,Release date,Directors,Actors,Genres,Asin
0,- Learn To Sing Gospel,"February 1, 2007","Greg Hannon, M.M.","Canagela Robertson,M.m.",NaN,B000O1OWQS
1,- Learning To Flatpick,"June 3, 2003","Traum, Happy","Kaufman,Steve",NaN,B000092OM6
2,100 Boating Mistakes & How To Avoid Them Trai...,"January 1, 2007",NaN,,NaN,B0004ILML4
3,100 Sailing Mistakes & How To Avoid Them Trai...,"January 1, 2007",NaN,,NaN,B0004IXFE6
4,100 Saltwater Fishing Mistakes & How To Avoid...,"January 1, 2007",NaN,,NaN,B0004ILMKA
...,...,...,...,...,...,...
152466,Águila o sol,"June 30, 1996",Arcady Boytler,"Cantinflas,Manuel Medel,Margarita Mora,Marina ...",NaN,6302296285
152467,Æon Flux,"June 3, 2008",Karyn Kusama,"Charlize Theron,Frances Mcdormand,Sophie Okone...",NaN,B000IOM0WE
152468,ÇA TWISTE À POPONGUINE (Rocking Poponguine),"September 10, 2009",Moussa Sene Absa,"Coura Ba,Jean-françois Balmer,Ousmane Bo",Arthouse,"B002SUHWDI,B002SUDU48"
152469,Ça commence aujourd'hui,"January 21, 2003",Bertrand Tavernier,"Philippe Torreton,Maria Pitarresi,Nadia Kaci,V...",NaN,"B00004VYF2,B00004D2WE"
152470,Ôdishon,"March 20, 2002",Takashi Miike,"Ryo Ishibashi,Eihi Shiina,Tetsu Sawaki,Jun Kun...",NaN,"B00005MKXB,B00005MKXA"

In [43]:
movies.to_csv('movie-1.1.csv',index=False,sep=',')